<section style="background: #696969;">

  <section id="aa-product-details">
    <div class="anchos">
      <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12">
          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight" style="width: 100%;">
              <div class="d-flex justify-content-center" style="    background: #15d7ae;">
                <div>
                  <h1 class="aa-product-price precio" style="text-align: center;">{{ data.pro_nombre }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="aa-product-details-area">
            <div class="aa-product-details-content">
              <div class="row">
                <!-- Modal view slider -->
                <div class="col-md-7 col-sm-7 col-xs-12">
                  <div id="productCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item" *ngFor="let image of imageObject2; let i = index" [class.active]="i === 0">
                        <img [src]="image.image" class="d-block w-100" alt="Product Image" style="border-radius: 10px;">
                        <!-- Botón para pantalla completa -->
                        <button mat-icon-button class="fullscreen-btn" (click)="openFullscreen(image.image, i)">
                          <mat-icon>fullscreen</mat-icon>
                        </button>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" (click)="prev()">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" (click)="next()">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </button>
                  </div>

                </div>
                <!-- Modal view content -->
                <div class="col-md-5 col-sm-5 col-xs-12">
                  <div class="product-container">
                  
                    <h1 class="product-title">{{ data.pro_nombre }}</h1>
                    
                    <p class="current-price">
                      <span class="price-highlight">{{ _formato.monedaChange( 3, 2, data.pro_uni_venta || 0) }}</span>
                      <span class="old-price">{{ _formato.monedaChange( 3, 2, ( ( data.pro_uni_venta * 2 ) || 0  ) ) }}</span>
                    </p>
                    
                    <p class="viewing-info">
                      <span class="view-count">{{ rango }}</span> Viendo este artículo.
                    </p>
                    
                    <p class="delivery-info">
                      <i class="fas fa-truck"></i> Los productos normalmente te llegaran de 2 a 5 días hábiles.
                    </p>
                  
                    <p class="shipping-info">
                      <i class="fas fa-box"></i> Envío GRATIS y pagos CONTRA ENTREGA.
                    </p>

                    <div class="aa-product-view-content p-3">
                      
                      <section *ngIf="data['listTallas']?.length > 0 && data.talla !== 'Unica'">
                        <h4>Talla</h4>
                        <div class="aa-prod-view-size">
                          <a class="pointer" *ngFor="let item of data.listTallas" [ngClass]="{selecciono: item.check1}"
                            (click)="checkTalla( item );">{{
                            item.tal_descripcion }}</a>
                        </div>
                      </section>
                      <section *ngIf="data['listColor']?.length > 0 ">
                        <h4>Color</h4>
                        <div class="aa-prod-view-size">
                          <a class="pointer" *ngFor="let item of data.listColor" [ngClass]="{selecciono: item.check1}"
                            (click)="handleSelect( item );">{{
                              item.talla }}</a>
                        </div>
                      </section>
                    </div>
                    <div class="stock-info">
                      <span class="stock-count">40 Disponible</span>
                      <span class="stock-indicator"></span>
                    </div>
                    
                    <div class="quantity-control">
                      <button class="quantity-btn" (click)="pedido.cantidad=pedido.cantidad-1;">-</button>
                      <input type="text" [(ngModel)]="pedido.cantidad" class="quantity-input" />
                      <button class="quantity-btn" (click)="pedido.cantidad=pedido.cantidad+1;">+</button>
                    </div>
                    
                    <button (click)="comprarArticulo(( pedido.cantidad || 1 ), false, 0, true)" class="btn-shake">Comprar y pagar en casa</button>
                  </div>
                    <p [innerHtml]="data.pro_descripcion "></p>
                </div>
                <section #nextStep>
                  <div class="col-12">
                    <br><br>
                    <app-checkt [datas]="datas"></app-checkt>
                    <br><br>
                  </div>
                </section>
                <div class="col-12">
                  <img style="    width: 100%;
                  height: 9pc;
                  border-radius: 20px;" src="./assets/imagenes/1.jpg" alt="">
                  <br><br>
                </div>
                <div class="col-12">
                  <div id="productCarousel2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item" *ngFor="let image of listGaleria1; let i = index" [class.active]="i === 0">
                        <img #imageElement [src]="image.foto" class="d-block w-100" alt="Product Image" style="border-radius: 10px;">
                        <!-- Botón para pantalla completa -->
                        <button mat-icon-button class="fullscreen-btn" (click)="openFullscreen(image.foto, i)">
                          <mat-icon>fullscreen</mat-icon>
                        </button>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" (click)="prev2()">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" (click)="next2()">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </button>
                
                  </div>
                
                  <!-- Contenedor de pantalla completa -->
                  <div class="fullscreen-image" *ngIf="isFullscreen">
                    <div class="fullscreen-overlay">
                      <button mat-icon-button class="close-btn" (click)="closeFullscreen()">
                        <mat-icon>close</mat-icon>
                      </button>
                      <img [src]="currentImage" alt="Product Image" class="fullscreen-img" />
                      <button mat-icon-button class="carousel-btn prev" (click)="prevImage()" style="background: #8d8d8d;">
                        <mat-icon>chevron_left</mat-icon>
                      </button>
                      <button mat-icon-button class="carousel-btn next" (click)="nextImage()" style="background: #8d8d8d;">
                        <mat-icon>chevron_right</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>  
                <div class="col-12">
                  <div class="d-flex justify-content-center">
                    <div>
                      <button (click)="comprarArticulo(( pedido.cantidad || 1 ), false, 0, true )" class="btn-shake">Comprar y pagar en casa</button>
                    </div>
                  </div>
                  <br><br><br><br><br>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>

<div class="purchase-notification" *ngIf="showNotification">
  <img src="{{ lastPurchase.image }}" alt="{{ lastPurchase.name }}" width="50">
  <span>{{ lastPurchase.user }} compró: {{ lastPurchase.name }} por {{ lastPurchase.price }}</span>
</div>

