<div class="container mt-4">
  <div class="row">

    <div class="col-md-12">
      <br><br>
    </div>
    <!-- Imagen del producto -->
    <div class="col-md-6">
      <!-- Imagen principal -->
      <div class="product-image" id="productCarousel">
        <img [src]="imageObject2[0]?.image" alt="Producto" class="img-fluid main-image" />
      </div>

    </div>

    <!-- Detalles del producto -->
    <div class="col-md-6">
      <h1 class="product-title">{{ data.pro_nombre }}</h1>
      <div class="product-price">
        <h3 style="color: #ff9900;">{{ _formato.monedaChange( 3, 2, data.pro_uni_venta || 0) }} <small class="text-muted"><s>{{ _formato.monedaChange( 3, 2, ( data.pro_uni_venta*2 ) || 0 )  }}</s></small></h3>
      </div>
      <p class="text-success mb-2">¡Paga En tu casa!</p>

      <div class="product-info">
        <div class="product-header">
          <div class="product-stars">⭐⭐⭐⭐⭐ +2.500 Clientes satisfechos</div>
          <div class="product-offer">
            <strong>¡OFERTA + ENVÍO GRATIS!</strong>
          </div>   
        </div>
      
        <div class="mb-4">
          <br><br>
          <div class="quantity-breaks-container" *ngFor="let item of data.listPrecios; let i = index" (click)="comprarArticulo(item.cantidad, true, item.precios)">
            <!-- Opción 1 -->
            <input [id]="item.cantidad" type="radio" name="quantity" [value]="item.cantidad" />
            <label [for]="item.cantidad" class="quantity-break">
              <span class="quantity-break__badge">
                <p *ngIf="item.cantidad === 1" >OFERTA DEL DÍA 💥</p>
                <p *ngIf="item.cantidad === 2" >MEGA OFERTA 🔥</p>
                <p *ngIf="item.cantidad >= 3" >AHORRA MÁS 🚀</p>
              </span>
              <div class="quantity-break__content">
                <div class="quantity-break__left">
                  <span class="quantity-break__label">LLEVA {{ item.cantidad }} <label for="" *ngIf="item.cantidad === 1 ">PAR</label> <label for="" *ngIf="item.cantidad !== 1 ">PARES</label></span>
                  <span class="quantity-break__benefit">Envío gratis</span>
                </div>
                <div class="quantity-break__right">
                  <span class="quantity-break__price">{{ _formato.monedaChange(3, 2, item.precios || 0) }}</span>
                </div>
              </div>
            </label>
          </div>
          
        </div>
      
        <div class="product-footer">
          <p>✅ Compra con confianza | 👟 Camina con estilo</p>
          <button 
            class="buy-button animated-pop" 
            (click)="comprarArticulo(pedido.cantidad, true, this.data.pro_uni_venta)"
          >
            CLIC PARA COMPRAR <br /> PAGA EN CASA
          </button>


        </div>
      </div>

      <!--
      <div class="form-group" *ngIf="data.talla !== 'Unica'">
        <label for="size">Talla</label>
        <select class="form-control" id="size">
          <option *ngFor="let item of data.listTallas">{{ item.tal_descripcion }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="size">Color</label>
        <select class="form-control" id="size">
          <option *ngFor="let item of data.listColor" (click)="verImagen( { image: item.foto } )">{{ item.talla }}</option>
        </select>
      </div>

      <div class="form-group d-flex align-items-center">
        <label for="quantity" class="mr-2">Cantidad</label>
        <button class="btn btn-outline-secondary btn-sm" (click)="decrementQuantity()">-</button>
        <input
          type="number"
          id="quantity"
          [(ngModel)]="quantity"
          class="form-control text-center mx-2"
          style="width: 60px;"
          min="1"
        />
        <button class="btn btn-outline-secondary btn-sm" (click)="incrementQuantity()">+</button>
      </div>

      <section #nextStep>
        <button
          style="width: 100%; background: #00e534; font-size: 18px; font-weight: bold; color: white;"
          mat-raised-button
          class="animated-button"
          (click)="comprarArticulo(pedido.cantidad,true, this.data.pro_uni_venta )"
        >
          Agregar al Carrito 🛒
        </button>
        <br><br>
        <div
          *ngFor="let item of data.listPrecios; let i = index"
        >
          <button
            style="width: 100%; background: #00e534; font-size: 18px; font-weight: bold; color: white;"
            mat-raised-button
            class="animated-button"
            (click)="comprarArticulo(item.cantidad, true, item.precios)"
          >
            <span *ngIf="item.cantidad === 1">LLEVA {{ item.cantidad }} PAR POR {{ _formato.monedaChange(3, 2, item.precios || 0) }}</span>
            <span *ngIf="item.cantidad != 1">LLEVA {{ item.cantidad }} PARES POR {{ _formato.monedaChange(3, 2, item.precios || 0) }}</span>🛒
          </button>
        </div>
      </section>

      --> 

      <!-- SKU y categoría -->
      <div class="mt-4">
        <p><strong>SKU:</strong> {{ data.pro_codigo }}</p>
        <p><strong>Categoría:</strong> {{ data['pro_categoria']?.cat_nombre }}</p>
      </div>

    </div>
    <div class="col-12">
      <!-- Miniaturas -->
      <div class="product-thumbnails mt-3 d-flex">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3" *ngFor="let item of imageObject2; let i = index" (click)="openLightbox(i)">
            <img
              [src]="item.image"
              alt="Miniatura"
              class="thumbnail img-fluid mr-2"
              style="cursor: pointer; width: 100%; height: auto;"
            />
            <button
              style="width: 100%; background: #00e534; font-size: 25px; font-weight: bold; color: white;"
              mat-raised-button
              class="animated-button buy-button animated-pop"
              (click)="comprarArticulo(pedido.cantidad,true, this.data.pro_uni_venta )"
            >
              CLIC PARA COMPRAR <br />PAGA EN CASA 🛒
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <p [innerHtml]="data.pro_descripcion "></p>
    </div>
    <div class="col-12">
      <div class="reviews-container">
        <div *ngFor="let comment of listComentario" class="review-card">
          <h3>{{ comment.name }}</h3>
          <p>{{ '★'.repeat(comment.rating) }}</p>
          <p>{{ comment.comment }}</p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="secure-section">
        <div class="delivery-info">
          <img src="./assets/img/envios.png" alt="Pago Contra Entrega" />
          <h4>Envío y Pago Contra Entrega</h4>
          <p>Recibe tus productos en la puerta de tu casa y paga cuando los tengas en tus manos. ¡100% seguro!</p>
        </div>
        <div class="secure-seal">
          <img src="./assets/imagenes/completo.webp" alt="Compra Segura" />
          <h4>Compra Segura</h4>
          <p>Garantizamos la seguridad de tu compra en cada paso del proceso.</p>
        </div>
      </div>
      
    </div>
  </div>
</div>
