<div class="d-flex bd-highlight">
  <div class="p-2 flex-grow-1 bd-highlight">
    <h2>DETALLES DE LA COMPRA 🚚💨 METODO {{ data.metoD }}</h2>
  </div>
  <div class="p-2 bd-highlight">
    <button mat-mini-fab color="warn" (click)="mostrarAlerta()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<mat-dialog-content class="mat-typography">
  <div class="form row" *ngIf="!data.id">
    <div class="col-12" style="padding: 0 !important;">
      <mat-list>
        <div mat-subheader>
          <div class="d-flex justify-content-between" style="width: 100%;">
            <div>
              <h3> <strong> Lista de Selección promoción </strong> </h3>
            </div>
            <div></div>
            <div>
              <button mat-mini-fab color="primary" (click)="handleCantidad( true )">
                <mat-icon>add_box</mat-icon>
              </button>
            </div>

          </div>
        </div>
        <mat-list-item *ngFor="let item of listCantidad" style="height: auto; padding: 10px; background: #e5e5e5; border-radius: 15px;"> 
          <div class="row mat-elevation-z4">
            <!--<div class="form-group col-6 " *ngIf="item.foto" style="text-align: center;">
              <img style="    width: 75px; border-radius: 40px;" [src]="item.foto" alt="">
            </div>-->
            <!-- Color -->
            <div class="form-group col-6 " *ngIf="datas.listColor.length === 0">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Color</mat-label>
                <mat-icon matPrefix>palette</mat-icon>

                <input matInput type="text" [(ngModel)]="item.color" name="item.color" placeholder="Color del Producto" required>
              </mat-form-field>
            </div>

            <div class="form-group col-6 " *ngIf="datas.listColor.length">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Color</mat-label>
                <mat-icon matPrefix>straighten</mat-icon>
                <mat-select [(ngModel)]="item.color" name="item.color" placeholder="Color del Producto" required (selectionChange)="handlePhoto( item );">
                  <mat-option *ngFor="let keyOf of item.listColor" [value]="keyOf.talla">
                    {{ keyOf.talla }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Talla -->
            <div class="form-group col-6 " *ngIf="data.talla !== 'Unica' && item.ListTalla.length === 0">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Talla</mat-label>
                <mat-icon matPrefix>straighten</mat-icon>
                <input matInput type="text" [(ngModel)]="item.talla" name="item.talla" placeholder="Talla del Producto" required >
              </mat-form-field>
            </div>

            <div class="form-group col-6 " *ngIf="data.talla !== 'Unica' && item.ListTalla.length">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Talla</mat-label>
                <mat-icon matPrefix>straighten</mat-icon>
                <mat-select [(ngModel)]="item.talla" name="item.talla" placeholder="Talla del Producto" required>
                  <mat-option *ngFor="let keyOf of item.ListTalla" [value]="keyOf.tal_descripcion">
                    {{ keyOf.tal_descripcion }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <br><br>
        </mat-list-item>
       </mat-list>
    </div>
    <div>
      <br>
      <h2 style="text-align: center; color: black;">Datos de Envio</h2>
      <p style="text-align: center; color: red;">
        TU COMPRA ES UN COMPROMISO
        Por favor, si no estás seguro de comprar o recibir el producto, evita hacer el pedido. No aceptarlo generará un costo por devolución.
      </p>
      <br>
    </div>
    <form #dataForm="ngForm" novalidate>
      <div class="form row" *ngIf="!data.id">

        <!-- Nombre y Apellido -->
        <div class="form-group col-12 col-sm-4" [ngClass]="{'has-error': isInvalid(dataForm, 'nombre')}">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Nombre y Apellido</mat-label>
            <mat-icon matPrefix>account_circle</mat-icon>
            <input matInput type="text" [(ngModel)]="data.nombre" name="nombre" placeholder="Nombre y Apellido" required #nombre="ngModel" (change)="validadorInput()">
            <mat-error *ngIf="nombre.invalid && nombre.touched">Este campo es obligatorio.</mat-error>
          </mat-form-field>
        </div>

        <!-- Número de Teléfono -->
        <div class="form-group col-12 col-sm-4" [ngClass]="{'has-error': isInvalid(dataForm, 'telefono')}">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Número de Teléfono</mat-label>
            <mat-icon matPrefix>phone</mat-icon>
            <input matInput type="number" [(ngModel)]="data.telefono" name="telefono" placeholder="Número de Teléfono" required #telefono="ngModel" (change)="validadorInput()">
            <mat-error *ngIf="telefono.invalid && telefono.touched">Este campo es obligatorio.</mat-error>
          </mat-form-field>
        </div>

        <!-- Dirección de Entrega -->
        <div class="form-group col-12 col-sm-4" [ngClass]="{'has-error': isInvalid(dataForm, 'direccion')}">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Dirección de Entrega</mat-label>
            <mat-icon matPrefix>home</mat-icon>
            <input matInput type="text" [(ngModel)]="data.direccion" name="direccion" placeholder="Dirección de Entrega" required #direccion="ngModel" (change)="validadorInput()">
            <mat-error *ngIf="direccion.invalid && direccion.touched">Este campo es obligatorio.</mat-error>
          </mat-form-field>
        </div>

        <!-- Ciudad o Municipio -->
        <div class="form-group col-12 col-sm-4" [ngClass]="{'has-error': isInvalid(dataForm, 'ciudad')}">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Ciudad o Municipio</mat-label>
            <mat-icon matPrefix>location_city</mat-icon>
            <input matInput type="text" [(ngModel)]="data.ciudad" name="ciudad" placeholder="Ciudad o Municipio" required #ciudad="ngModel" (change)="validadorInput()">
            <mat-error *ngIf="ciudad.invalid && ciudad.touched">Este campo es obligatorio.</mat-error>
          </mat-form-field>
        </div>
        
        <div class="form-group col-12 col-sm-4" [ngClass]="{'has-error': isInvalid(dataForm, 'barrio')}">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Barrio o Localidad</mat-label>
            <mat-icon matPrefix>map</mat-icon>
            <input matInput type="text" [(ngModel)]="data.barrio" name="barrio" placeholder="Barrio o Localidad" required #barrio="ngModel" (change)="validadorInput()">
            <mat-error *ngIf="barrio.invalid && barrio.touched">Este campo es obligatorio.</mat-error>
          </mat-form-field>
        </div>

        <div class="form-group col-12 col-sm-4" [ngClass]="{'has-error': isInvalid(dataForm, 'pedidoCheck')}">
          <mat-label>Mis datos son correctos para el envío</mat-label>
          <mat-checkbox class="example-margin" [(ngModel)]="data.pedidoCheck" name="pedidoCheck" required #pedidoCheck="ngModel">Si, acepto recibir el pedido.</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="data.terminoCheck" name="terminoCheck" required #terminoCheck="ngModel">Acepte nuestros términos y condiciones.</mat-checkbox>
        </div>
        
      </div>
    </form>

      <div class="col-12">
        <div class="tyslo-group"
            style='background-color: #fefefe; box-sizing: border-box; color: rgba(18, 18, 18, 0.75); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-size: 16px; letter-spacing: 0.6px; margin-bottom: 10px;'>
            <div class="total-container" data-v-2b9a7796=""
                style="box-sizing: border-box; color: black; margin: 10px 0px;">
                <div class="p-1" data-v-2b9a7796="" style="box-sizing: border-box; padding: 0.25rem !important;">
                    <div class="d-flex justify-content-between py-1" data-v-2b9a7796=""
                        style="box-sizing: border-box; display: flex !important; justify-content: space-between !important; padding-bottom: 0.25rem !important; padding-top: 0.25rem !important;">
                        <div class="fw-normal label-title" data-v-2b9a7796=""
                            style="box-sizing: border-box; color: #535353;">
                            Subtotal
                        </div>
                        <div class="label-value" data-v-2b9a7796="" style="box-sizing: border-box;">
                            <span data-v-2b9a7796="" style="box-sizing: border-box;">{{ _tools.monedaChange2(
                                3,2,this.data.costo1 || 0 ) }}</span>
                        </div>
                    </div>
                    <div class="
                    d-flex
                    justify-content-between
                    my-1
                    total-row
                    align-items-baseline
                    fw-bold
                  " data-v-2b9a7796=""
                        style="align-items: baseline !important; border-top: 1px solid rgba(175, 175, 175, 0.34) !important; box-sizing: border-box; display: flex !important; font-weight: 700 !important; justify-content: space-between !important; margin-bottom: 0.25rem !important; margin-top: 0.25rem !important;">
                        <div data-v-2b9a7796="" style="box-sizing: border-box;">Cantidad</div>
                        <div class="total-value" data-v-2b9a7796=""
                            style="box-sizing: border-box; font-size: 20px;">
                            <span data-v-2b9a7796="" style="box-sizing: border-box;">{{ data.cantidadAd1 || 1 }}</span>
                        </div>
                    </div>
                    <div 
                      *ngIf="data.descuento"
                    class="
                    d-flex
                    justify-content-between
                    my-1
                    total-row
                    align-items-baseline
                    fw-bold
                  " data-v-2b9a7796=""
                        style="align-items: baseline !important; border-top: 1px solid rgba(175, 175, 175, 0.34) !important; box-sizing: border-box; display: flex !important; font-weight: 700 !important; justify-content: space-between !important; margin-bottom: 0.25rem !important; margin-top: 0.25rem !important;">
                        <div data-v-2b9a7796="" style="box-sizing: border-box;">Descuentos</div>
                        <div class="total-value" data-v-2b9a7796=""
                            style="box-sizing: border-box; font-size: 20px;">
                            <span data-v-2b9a7796="" style="box-sizing: border-box;">{{ _tools.monedaChange2(
                                3,2,( this.data.descuento ) || 0 ) }}</span>
                        </div>
                    </div>
                    <div 
                      *ngIf="data.metoD === 'casa'"
                    class="
                    d-flex
                    justify-content-between
                    my-1
                    total-row
                    align-items-baseline
                    fw-bold
                  " data-v-2b9a7796=""
                        style="align-items: baseline !important; border-top: 1px solid rgba(175, 175, 175, 0.34) !important; box-sizing: border-box; display: flex !important; font-weight: 700 !important; justify-content: space-between !important; margin-bottom: 0.25rem !important; margin-top: 0.25rem !important;">
                        <div data-v-2b9a7796="" style="box-sizing: border-box;">Servicio pago en casa</div>
                        <div class="total-value" data-v-2b9a7796=""
                            style="box-sizing: border-box; font-size: 20px;">
                            <span data-v-2b9a7796="" style="box-sizing: border-box;">{{ _tools.monedaChange2(
                                3,2,( 20000 ) || 0 ) }}</span>
                        </div>
                    </div>
                    <div 
                      *ngIf="data.metoD !== 'casa'"
                    class="
                    d-flex
                    justify-content-between
                    my-1
                    total-row
                    align-items-baseline
                    fw-bold
                  " data-v-2b9a7796=""
                        style="align-items: baseline !important; border-top: 1px solid rgba(175, 175, 175, 0.34) !important; box-sizing: border-box; display: flex !important; font-weight: 700 !important; justify-content: space-between !important; margin-bottom: 0.25rem !important; margin-top: 0.25rem !important;">
                        <div data-v-2b9a7796="" style="box-sizing: border-box;">Servicio pago antisipado</div>
                        <div class="total-value" data-v-2b9a7796=""
                            style="box-sizing: border-box; font-size: 20px;">
                            <span data-v-2b9a7796="" style="box-sizing: border-box;">-{{ _tools.monedaChange2(
                                3,2,( 20000 ) || 0 ) }}</span>
                        </div>
                    </div>
                    <div class="
                        d-flex
                        justify-content-between
                        my-1
                        total-row
                        align-items-baseline
                        fw-bold
                  " data-v-2b9a7796=""
                        style="align-items: baseline !important; border-top: 1px solid rgba(175, 175, 175, 0.34) !important; box-sizing: border-box; display: flex !important; font-weight: 700 !important; justify-content: space-between !important; margin-bottom: 0.25rem !important; margin-top: 0.25rem !important;">
                        <div data-v-2b9a7796="" style="box-sizing: border-box;">Envio</div>
                        <div  class="total-value" data-v-2b9a7796=""
                            style="box-sizing: border-box; font-size: 20px;">
                            <span *ngIf="!data.pro_vendedor" data-v-2b9a7796="" style="box-sizing: border-box;">
                              <mat-radio-group [(ngModel)]="data.envioT" (change)="suma()">
                                <mat-radio-button class="example-margin" value="gratis">
                                  <span style="font-size: 9px;">Gratis</span>
                                </mat-radio-button>
                                <mat-radio-button class="example-margin" value="priorida">
                                  <span style="font-size: 9px;">$5.000 Envio Prioritario</span>
                                </mat-radio-button>
                              </mat-radio-group>
                            </span>
                            <span *ngIf="data.pro_vendedor" data-v-2b9a7796="" style="box-sizing: border-box;">
                              {{ _formato.monedaChange( 3, 2, data.pro_vendedor || 0) }}
                            </span>
                        </div>
                    </div>
                    <div class="
                    d-flex
                    justify-content-between
                    my-1
                    total-row
                    align-items-baseline
                    fw-bold
                  " data-v-2b9a7796=""
                        style="align-items: baseline !important; border-top: 1px solid rgba(175, 175, 175, 0.34) !important; box-sizing: border-box; display: flex !important; font-weight: 700 !important; justify-content: space-between !important; margin-bottom: 0.25rem !important; margin-top: 0.25rem !important;">
                        <div data-v-2b9a7796="" style="box-sizing: border-box;">Total</div>
                        <div class="total-value" data-v-2b9a7796=""
                            style="box-sizing: border-box; font-size: 20px;">
                            <span data-v-2b9a7796="" style="box-sizing: border-box;">{{ _tools.monedaChange2(
                                3,2,( this.data.costo + data.pro_vendedor ) || 0 ) }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
  <div class="form row" *ngIf="data.id">
      <div class="col-12">
          <div class="d-flex justify-content-center">
              <div>
                  <h3>Chatear con un asesor sobre la venta realizada</h3>
                  <img src="./assets/icons/whatsapp.png" style="width: 80%;" alt="" (click)="mensajeWhat()">
              </div>
          </div>
      </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button cdkFocusInitial mat-raised-button color="primary" (click)="finalizando()" *ngIf="!data.id" [disabled]="disabled" style=" background: #28a745 !important;">
      <span>Confirmar Compra</span>
  </button>
</mat-dialog-actions>
