<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <mat-icon>assignment</mat-icon> Categorías <button mat-mini-fab color="accent" (click)="crear(false)"> <mat-icon>add_circle_outline</mat-icon> </button>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div *ngIf="loader" class="loader">
              <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync" [fullScreen]="false">
              </ngx-spinner>
            </div>

            <!-- Filtro de búsqueda -->
            <div class="filter-container">
              <mat-form-field appearance="outline">
                <mat-label>Buscar categoría</mat-label>
                <input matInput [(ngModel)]="datoBusqueda" (input)="buscar()">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>

              <button mat-mini-fab color="primary" (click)="buscar()" [disabled]="loader">
                <mat-icon>search</mat-icon>
              </button>
              
            </div>

            <!-- Tabla de categorías -->
            <div class="table-container"
            infiniteScroll [infiniteScrollDistance]="3"
              [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
              style="width: 100%;"
              >
              <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;">

                <!-- Acciones -->
                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" (click)="crear(row)">
                      <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="delete(row)">
                      <mat-icon>delete_forever</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <!-- Imagen -->
                <ng-container matColumnDef="foto">
                  <th mat-header-cell *matHeaderCellDef> Imagen </th>
                  <td mat-cell *matCellDef="let row">
                    <img [src]="row.cat_imagen || './assets/noimagen.jpg'" class="category-image">
                  </td>
                </ng-container>

                <!-- Nombre -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let row">{{ row.cat_nombre }}</td>
                </ng-container>

                <!-- Descripción -->
                <ng-container matColumnDef="descripcion">
                  <th mat-header-cell *matHeaderCellDef> Descripción </th>
                  <td mat-cell *matCellDef="let row">{{ row.cat_descripcion }}</td>
                </ng-container>

                <!-- Categoría Padre -->
                <ng-container matColumnDef="padre">
                  <th mat-header-cell *matHeaderCellDef> Categoría Padre </th>
                  <td mat-cell *matCellDef="let row">{{ row.cat_padre?.cat_nombre || 'N/A' }}</td>
                </ng-container>

                <!-- Estado -->
                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-chip [color]="row.cat_activo == 0 ? 'primary' : 'warn'">
                      {{ row.cat_activo == 0 ? 'Activo' : 'Eliminado' }}
                    </mat-chip>
                  </td>
                </ng-container>

                <!-- Encabezado y filas -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              </table>
              
              <!-- Paginador -->
              <mat-paginator [length]="dataSource?.data?.length || 0" [pageSize]="10" showFirstLastButtons>
              </mat-paginator>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
