<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="p-3">
        <mat-card-header>
          <mat-card-title>
            <mat-icon>settings</mat-icon> Mi Configuración
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <!-- 📌 Botón de actualizar -->
          <div class="d-flex justify-content-end">
            <button mat-raised-button color="primary" (click)="Actualizar()">
              <mat-icon>refresh</mat-icon> Actualizar Datos
            </button>
          </div>

          <div class="row p-3">
            <!-- 📸 Logo de la Tienda -->
            <div class="col-12 text-center">
              <img *ngIf="data.logo" [src]="data.logo" class="img-fluid rounded shadow mb-3" style="max-width: 200px;">
            </div>

            <div class="col-12">
              <div class="row container">
                  <label>logo de la Tienda</label>
                  <button class="btn btn-primary btn-just-icon btn-round" (click)="subirFile('logo')" *ngIf="files.length > 0">
                      Subir Imagen
                  </button>
              </div>
              <ngx-dropzone (change)="onSelect($event, false)">
                  <ngx-dropzone-label>Abrir archivos</ngx-dropzone-label>
                  <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                      [file]="f" [removable]="true" (removed)="onRemove(f)" multiple="false">
                      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>

            <!-- 📋 Datos de la Tienda -->
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nombre Tienda</mat-label>
                <input matInput type="text" [(ngModel)]="data.nombreTienda">
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Número Celular Empresa o Fijo</mat-label>
                <input matInput type="text" [(ngModel)]="data.numeroCelular">
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email Tienda</mat-label>
                <input matInput type="email" [(ngModel)]="data.emailTienda">
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Dirección</mat-label>
                <input matInput type="text" [(ngModel)]="data.direccionTienda">
              </mat-form-field>
            </div>

            <!-- ✅ Activar Venta -->
            <div class="col-12">
              <mat-checkbox [(ngModel)]="data.configV"> Activar Venta</mat-checkbox>
            </div>

            <!-- 📄 Descripción -->
            <div class="col-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Descripción de la Empresa</mat-label>
                <textarea matInput rows="3" [(ngModel)]="data.decripcion"></textarea>
              </mat-form-field>
            </div>

            <!-- 💰 Detalle de Transferencia -->
            <div class="col-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Detalle de Transferencia</mat-label>
                <textarea matInput rows="2" [(ngModel)]="data.textTransfer"></textarea>
              </mat-form-field>
            </div>

            <!-- 📌 Botón de actualizar (Final) -->
            <div class="col-12 text-center mt-3">
              <button mat-raised-button color="primary" (click)="Actualizar()">
                <mat-icon>refresh</mat-icon> Actualizar Datos
              </button>
            </div>

          </div>

        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12">
      <h1>Configuraciones primordiales</h1>
    </div>
    <div class="col-md-12">
      <form [formGroup]="configForm" class="row">
        
        <div class="col-12 col-sm-12">
          <!-- URL Socket -->
          <mat-form-field appearance="outline">
            <mat-label>Texto de compra</mat-label>
            <mat-icon matPrefix>apps</mat-icon>
            <textarea matInput rows="2" formControlName="txtCompra"></textarea>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6">
          <!-- URL Socket -->
          <mat-form-field appearance="outline">
            <mat-label>URL Socket</mat-label>
            <mat-icon matPrefix>link</mat-icon>
            <input matInput formControlName="urlSocket">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6">
          <!-- URL Backend -->
          <mat-form-field appearance="outline">
            <mat-label>URL Backend</mat-label>
            <mat-icon matPrefix>cloud</mat-icon>
            <input matInput formControlName="urlBackend">
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-6">
          <!-- URL Backend -->
          <mat-form-field appearance="outline">
            <mat-label>URL Backend Social</mat-label>
            <mat-icon matPrefix>cloud</mat-icon>
            <input matInput formControlName="urlBackendSocial">
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-6">
          <!-- URL File -->
          <mat-form-field appearance="outline">
            <mat-label>URL File</mat-label>
            <mat-icon matPrefix>folder</mat-icon>
            <input matInput formControlName="urlBackendFile">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6">
          <!-- User Dropi -->
          <mat-form-field appearance="outline">
            <mat-label>Usuario Dropi</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput formControlName="userDropi" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6">
          <!-- Clave Dropi -->
          <mat-form-field appearance="outline">
            <mat-label>Clave Dropi</mat-label>
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput type="password" formControlName="claveDropi" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6">
          <!-- Rol Dropi -->
          <mat-form-field appearance="outline">
            <mat-label>Rol Dropi</mat-label>
            <mat-icon matPrefix>verified_user</mat-icon>
            <mat-select formControlName="rolDropi">
              <mat-option value="dropshipping">DropShipping</mat-option>
              <mat-option value="proveedor">Bodeguero o Proveedor</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6">
            <!-- Estado del WhatsApp -->
          <div>
            <p>
              <strong>Estado del WhatsApp:</strong> 
              <span [ngClass]="flagWhatsapp ? 'text-success' : 'text-danger'">
                {{ flagWhatsapp ? 'Conectado ✅' : 'No Conectado ❌' }}
              </span>
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <!-- QR WhatsApp -->
          <div class="qr-container">
            <p><strong>QR WhatsApp</strong></p>
            <div *ngIf="qrCodeDownloadLink; else loading">
              <img [src]="qrCodeDownloadLink" alt="Código QR">
            </div>
            <ng-template #loading>
              <p>Cargando QR...</p>
            </ng-template>
          </div>
        </div>
        
      </form>
      <button mat-raised-button color="primary" (click)="handleSubmit()">
        <mat-icon>update</mat-icon> Actualizar
      </button>
      <!-- reiniciar-bot.component.html -->
      <button mat-raised-button color="warn" (click)="reiniciarBot()">
        🔄 Reiniciar Bot WhatsApp
      </button>

      
    </div>
    <div class="col-md-12">
      <mat-card>
        <mat-card-title>🎨 Selecciona una Plantilla</mat-card-title>
        <mat-card-content>
          <mat-radio-group [(ngModel)]="data.plantilla" (change)="guardarPlantilla()">
            <mat-radio-button *ngFor="let plantilla of plantillas" [value]="plantilla.id">
              <mat-card class="plantilla-card">
                <img [src]="plantilla.imagen" alt="{{ plantilla.nombre }}" class="plantilla-img">
                <p>{{ plantilla.nombre }}</p>
              </mat-card>
            </mat-radio-button>
          </mat-radio-group>
        </mat-card-content>
      </mat-card>
      
      <!-- Botón para abrir configuración avanzada -->
      <button mat-raised-button color="primary" (click)="abrirConfiguracion()">
        Configurar Apariencia
      </button>
      
    </div>
  </div>
</div>
