<mat-dialog-content class="mat-typography terminos-container">
    <mat-card class="terminos-card">
      <mat-card-header>
        <mat-card-title class="terminos-title">
          📜 <strong>Términos de Privacidad</strong>
        </mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <p>
            Mediante el registro de tus datos personales en este formulario estás autorizando a 
            <strong>{{ dataConfig.nombreTienda }} S.A.S</strong> para el uso, almacenamiento y tratamiento de los mismos, 
            permitiendo el envío de información acerca de sus productos y servicios, evaluaciones de calidad, 
            y cumplimiento de políticas de tratamiento de datos.
          </p>
  
          <p>
            <strong>AUTORIZACIÓN PARA TRATAMIENTO DE DATOS PERSONALES:</strong> En mi calidad de titular de la 
            información, autorizo a <strong>{{ dataConfig.nombreTienda }} S.A.S</strong> para que directamente o a través 
            de terceros realice el tratamiento de mis datos personales con el fin de:
          </p>
  
          <ul>
            <li>Brindar soluciones a peticiones, quejas y/o reclamos.</li>
            <li>Confirmar los datos necesarios para la entrega de productos.</li>
            <li>Aplicar encuestas de satisfacción y estudios de mercado.</li>
            <li>Enviar información sobre eventos, actividades, productos y servicios.</li>
            <li>Realizar actividades de georreferenciación y estudios estadísticos.</li>
          </ul>
  
          <p>
            He sido informado que mis derechos como titular de los datos incluyen:
          </p>
          <ul>
            <li>Conocer, actualizar y rectificar mis datos personales.</li>
            <li>Solicitar prueba de la autorización otorgada.</li>
            <li>Ser informado sobre el uso de mis datos.</li>
            <li>Revocar la autorización y solicitar la supresión de mis datos.</li>
            <li>Acceder en forma gratuita a mis datos.</li>
          </ul>
  
          <p>
            Al aceptar estos términos, autorizo a <strong>{{ dataConfig.nombreTienda }} S.A.S</strong> para que con fines 
            estadísticos, de control, supervisión y de información comercial, reporte a las Centrales de 
            Información de Riesgo Crediticio sobre mis obligaciones financieras y comerciales.
          </p>
      </mat-card-content>
  
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
  