/* alerta-suscripcion.component.scss */
.alerta-container {
  text-align: center;
  h2 {
    font-weight: bold;
    margin-bottom: 15px;
  }
  &.vencido {
    color: #d32f2f;
  }
  &.por-vencer {
    color: #f57c00;
  }
}
