<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <mat-card class="p-3">
            <mat-card-header>
              <mat-card-title>
                <mat-icon>assignment</mat-icon> Mi Cuenta
              </mat-card-title>
            </mat-card-header>
  
            <!-- Sección de Usuario -->
            <mat-card>
              <mat-card-header class="d-flex justify-content-between align-items-center">
                <mat-card-title>
                  <h5>{{ data.usu_nombre }}</h5>
                </mat-card-title>
              </mat-card-header>
  
              <mat-card-content>
                <h6>Este es el Link de su tienda:</h6>
                <div class="btn-group">
                  <button mat-raised-button color="primary" (click)="copiarLink()">Copiar link de su tienda</button>
                  <!--<button mat-raised-button color="accent" (click)="copiarLinkRegistro()">Invitar Personas</button>
                  <button mat-raised-button color="primary" (click)="abrrirTienda()">Abrir tienda</button>-->
                </div>
              </mat-card-content>
            </mat-card>
  
            <!-- Foto de Perfil -->
            <div class="row p-3">
              <div class="col-12 text-center">
                <img [src]="data.usu_imagen" class="imgPerfil">
                <br>
                <label>Subir Foto de Perfil</label>
                <button mat-raised-button color="primary" (click)="subirFile('usu_imagen')" *ngIf="files.length > 0">
                  Subir Imagen
                </button>
                <ngx-dropzone (change)="onSelect($event)">
                  <ngx-dropzone-label>Abrir archivos</ngx-dropzone-label>
                  <ngx-dropzone-image-preview *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-image-preview>
                </ngx-dropzone>
              </div>
            </div>
  
            <!-- Formulario -->
            <div class="row p-3">
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Nombre(s)</mat-label>
                  <input matInput type="text" [(ngModel)]="data.usu_nombre">
                </mat-form-field>
              </div>
  
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Apellido(s)</mat-label>
                  <input matInput type="text" [(ngModel)]="data.usu_apellido">
                </mat-form-field>
              </div>
  
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Celular</mat-label>
                  <input matInput type="text" [(ngModel)]="data.usu_telefono">
                </mat-form-field>
              </div>
  
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Color de la Tienda</mat-label>
                  <input matInput type="color" [(ngModel)]="data.usu_color">
                </mat-form-field>
              </div>
  
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Departamento</mat-label>
                  <mat-select [(ngModel)]="data.usu_pais" (selectionChange)="selectDepartamento()">
                    <mat-option *ngFor="let item of listDepartamento" [value]="item.departamento">
                      {{ item.departamento }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Ciudad</mat-label>
                  <mat-select [(ngModel)]="data.usu_ciudad" [disabled]="!data.usu_pais">
                    <mat-option *ngFor="let item of listCiudad" [value]="item">
                      {{ item }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Dirección</mat-label>
                  <input matInput type="text" [(ngModel)]="data.usu_direccion">
                </mat-form-field>
              </div>
  
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Correo Electrónico</mat-label>
                  <input matInput type="email" [(ngModel)]="data.usu_email">
                </mat-form-field>
              </div>
  
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Facebook</mat-label>
                  <input matInput type="text" [(ngModel)]="data.url_facebook">
                </mat-form-field>
              </div>
  
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Instagram</mat-label>
                  <input matInput type="text" [(ngModel)]="data.url_instagram">
                </mat-form-field>
              </div>
  
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>YouTube</mat-label>
                  <input matInput type="text" [(ngModel)]="data.url_youtube">
                </mat-form-field>
              </div>
  
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Fecha de Nacimiento</mat-label>
                  <input matInput type="date" [(ngModel)]="data.usu_fec_nacimiento">
                </mat-form-field>
              </div>
  
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Género</mat-label>
                  <mat-select [(ngModel)]="data.usu_genero">
                    <mat-option value="masculino">Masculino</mat-option>
                    <mat-option value="feminino">Feminino</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
              <div class="col-md-6 text-center">
                <button mat-raised-button color="primary" (click)="Actualizar()">Actualizar Datos</button>
              </div>
  
              <div class="col-md-6 text-center">
                <button mat-raised-button color="warn" (click)="disableRestaure = true;" *ngIf="!disableRestaure">
                  Cambiar Contraseña
                </button>
                <div *ngIf="disableRestaure">
                  <mat-form-field appearance="outline">
                    <mat-label>Nueva Clave</mat-label>
                    <input matInput type="password" [(ngModel)]="restaure.passNew">
                  </mat-form-field>
                  <button mat-raised-button color="primary" (click)="CambiarPassword()">Actualizar Contraseña</button>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  