<div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight">
        <h2 mat-dialog-title>{{ titulo }} Usuarios</h2>
    </div>
    <div class="p-2 bd-highlight">
        <button mat-mini-fab mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
  </div>

<mat-dialog-content>
  <div class="mat-typography" fxLayout="row wrap" fxLayoutGap="16px">

    <mat-form-field appearance="outline" fxFlex="40%">
      <mat-label>Username / avatar</mat-label>
      <input matInput [(ngModel)]="data.usu_usuario">
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="40%">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="data.usu_nombre">
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="40%">
      <mat-label>Apellido</mat-label>
      <input matInput [(ngModel)]="data.usu_apellido">
    </mat-form-field>
<!--
    <mat-form-field appearance="outline" fxFlex="100%">
      <mat-label>Fecha de nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.usu_fecha_nacimiento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

-->

    <mat-form-field appearance="outline" fxFlex="40%">
      <mat-label>N° Documento</mat-label>
      <input matInput [(ngModel)]="data.usu_documento">
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="40%">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="data.usu_email">
    </mat-form-field>

    <ng-container *ngIf="!id">
      <mat-form-field appearance="outline" fxFlex="40%">
        <mat-label>Contraseña</mat-label>
        <input matInput [(ngModel)]="data.usu_clave" type="password">
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="40%">
        <mat-label>Verificar Contraseña</mat-label>
        <input matInput [(ngModel)]="data.usu_confir" type="password">
      </mat-form-field>
    </ng-container>

    <mat-form-field appearance="outline" fxFlex="40%">
      <mat-label>Teléfonos</mat-label>
      <input matInput [(ngModel)]="data.usu_telefono">
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="40%">
      <mat-label>Perfil</mat-label>
      <mat-select [(ngModel)]="data.usu_perfil">
        <mat-option *ngFor="let item of listPerfil" [value]="item.id">
          {{ item.prf_descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="id">
      <div fxFlex="100%" class="mat-elevation-z1 p-2 mb-2 bg-info text-white">
        <strong>Cambiar Password</strong>
      </div>

      <mat-form-field appearance="outline" fxFlex="40%">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="restaure.passNew">
      </mat-form-field>

      <div fxFlex="40%" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="cambiarPassword()">
          Actualizar Contraseña
        </button>
      </div>
    </ng-container>

  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="submit()">
    <span *ngIf="!id">Guardar Cambios</span>
    <span *ngIf="id">Actualizar Cambios</span>
  </button>
</mat-dialog-actions>
