<!-- Barra de navegación superior siempre fija -->
<mat-toolbar [ngStyle]="{'background-color': tiendaInfo.colorTienda, 'color': textColor}"
  class="example-toolbar mat-elevation-z5 row toolbar fixed-toolbar" style="width: 101% !important;">

  <button mat-icon-button (click)="snav.toggle()" translate="no">
    <mat-icon>menu</mat-icon>
  </button>

  <h5 class="textInf">
    <span class="textInf">{{ tiendaInfo.nombreTienda }}</span>
  </h5>

  <div class="row col">
    <div class="col"></div>
    <div style="margin-top: 7px;">
      <label>
        <span (click)="this.opcionoView = 'notificaciones'; sidenav.toggle();" class="p-1 pointer"
          [matBadge]="notificando">
          <mat-icon>notification_important</mat-icon>
        </span>
      </label>

      <span *ngIf="!dataUser.id" [routerLink]="['/login']" class="p-1 pointer">
        <mat-icon>person_pin</mat-icon>
      </span>
      <span *ngIf="dataUser.id" [routerLink]="['/config/perfil']" class="p-1 pointer">
        <mat-icon>person_pin</mat-icon>
      </span>
    </div>
  </div>
</mat-toolbar>

<!-- Contenedor Principal -->
<mat-sidenav-container class="sidenav-container">
  
  <!-- Menú lateral (Izquierda) -->
  <mat-sidenav #snav mode="over" position="start" class="sidenav">
    <div class="menu-header">
      <img class="logo" [src]="tiendaInfo.logo || './assets/img/logo.png'" alt="Logo de la Tienda">
    </div>

    <mat-nav-list>
      <h3 class="menu-title">MENÚ PRINCIPAL</h3>

      <!-- Opción de menú principal -->
      <ng-container *ngFor="let item of menus">
        <a mat-list-item [routerLink]="item.url" routerLinkActive="active" *ngIf="item.submenus.length === 0">
          <span class="menu-text">{{ item.nombre }}</span>
          <mat-icon class="menu-icon">{{ item.icons }}</mat-icon>
        </a>

        <!-- Submenús con acordeón -->
        <mat-expansion-panel class="submenu-panel" *ngIf="item.submenus.length > 0">
          <mat-expansion-panel-header>
            <span class="menu-text">{{ item.nombre }}</span>
            <mat-icon class="menu-icon">{{ item.icons }}</mat-icon>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <a mat-list-item *ngFor="let sub of item.submenus" [routerLink]="sub.url" routerLinkActive="active">
              <span class="menu-text">{{ sub.nombre }}</span>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </ng-container>

      <!-- Otros Menús -->
      <ng-container *ngFor="let item of menus2">
        <a mat-list-item (click)="EventMenus(item)">
          <span class="menu-text">{{ item.nombre }}</span>
          <mat-icon class="menu-icon">{{ item.icons }}</mat-icon>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenedor de contenido principal -->
  <mat-sidenav-content class="main-content">
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
