.sidenav-container {
  //height: 100vh; /* Ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px); /* Resta la altura de la barra superior */
}

.sidenav {
  width: 280px;
}

.menu-header {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.logo {
  width: 180px;
  max-width: 100%;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.menu-text {
  flex-grow: 1;
}

.menu-icon {
  margin-left: auto; /* Empuja el icono hacia la derecha */
}

.submenu-panel {
  width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
  .sidenav {
    width: 250px;
  }
}


/* Fijar toolbar en la parte superior */
.fixed-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté sobre los demás elementos */
}

/* Ajustar el contenido para que respete la toolbar */
.sidenav-container {
  //height: 100vh; /* Ocupa toda la pantalla */
  margin-top: 64px; /* Altura de la toolbar */
}

.main-content {
  //height: calc(100vh - 64px); /* Resta la altura del toolbar */
  overflow: auto; /* Permite scroll si es necesario */
  padding: 16px; /* Espaciado interno */
}
