<div class="pedido-container" *ngIf="view === 'three'">
  <!-- Temporizador -->
  <div class="banner-contador">
    <div class="texto-principal">
      PRECIO DE FABRICA OFF
    </div>

    <div class="contador">
      <div class="tiempo">
        <span>{{ dias | number: '2.0' }}</span>
        <small>DÍAS</small>
      </div>
      <span class="separador">:</span>
      <div class="tiempo">
        <span>{{ horas | number: '2.0' }}</span>
        <small>HORAS</small>
      </div>
      <span class="separador">:</span>
      <div class="tiempo">
        <span>{{ minutos | number: '2.0' }}</span>
        <small>MINUTOS</small>
      </div>
      <span class="separador">:</span>
      <div class="tiempo">
        <span>{{ segundos | number: '2.0' }}</span>
        <small>SEGUNDOS</small>
      </div>
    </div>

    <div class="sub-texto">
      HASTA AGOTAR EXISTENCIAS
    </div>
  </div>

  <!-- Sección Marca + Productos + Stats -->
  <section class="marca-section">
    <!-- Logo -->
    <div class="logo-container">
      <img [src]="tiendaInfo.logo || 'assets/noimagen.jpg'" alt="Tienda Name" class="logo" />
    </div>

    <!-- Imágenes de productos -->
    <div class="productos-galeria">
      <img *ngFor="let img of dataPro?.imagenes" [src]="img.url" alt="Producto" class="producto-img" />
    </div>

  </section>


  <!-- Stats -->
  <div class="stats">
    <mat-card *ngFor="let stat of dataPro?.stats" class="stat-card mat-elevation-z3">
      <mat-card-title>+{{ stat.valor }}</mat-card-title>
      <mat-card-subtitle>{{ stat.texto }}</mat-card-subtitle>
    </mat-card>
  </div>

  <!-- Combos -->
  <section class="combos-section">
    <h2 class="titulo">COMBOS</h2>

    <div class="combos-container">
      <div class="combo-card" *ngFor="let combo of dataPro?.combos">
        <div class="combo-label" [ngStyle]="{'background-color': combo.color || '#ff007a' }">
          {{ combo.tipo || 'BENEFICIO' }}
        </div>
        <p>
          {{ combo.rango || 'Lleva de 1 a 5 pares' }}
          <span class="precio">
            {{ _formato.monedaChange(3, 2, combo.precios || 0) }}
          </span>
        </p>
        <span class="subtext">{{ combo.subtext || 'El Valor x par' }}</span>
      </div>
    </div>
  </section>



  <!-- Paso 1 -->
  <section>
    <h2 class="text-dark titulo">PASO 1</h2>
    <p style="text-align: center;">Selecciona las referencias, tallas y colores y la cantidad que deseas para realizar tu
      cotización del envio y el valor de tu pedido. </p>

     <!-- Spinner mientras no hay datos -->
    <div class="d-flex justify-content-center align-items-center"
        *ngIf="!dataPro?.listColor || dataPro.listColor.length === 0">
      <mat-progress-spinner
        color="accent"
        mode="indeterminate"
        diameter="50">
      </mat-progress-spinner>
    </div>

    <!-- Lista de productos -->
     <div class="container">
       <div class="row product-list" *ngIf="dataPro?.listColor && dataPro.listColor.length > 0">
         <div class="col-md-3 col-sm-6 col-6 mb-4"
             *ngFor="let row of dataPro.listColor">
           <div class="card custom-card">
             <h6 class="product-title">{{ row.talla }}</h6>
             <img [src]="row.foto" class="card-img-top" alt="Ref"
                 (click)="handleOpenDialogPhoto(row)">
             <div class="card-body">
               <button mat-flat-button color="accent"
                       class="animated-button btn-pink"
                       (click)="handleOpenDialogPhoto(row)">
                 Ver Fotos
               </button>
             </div>
           </div>
         </div>
       </div>
     </div>
  </section>

  <section class="faq-section">
    <!-- Botón WhatsApp -->
    <div class="whatsapp-header">
      <button class="whatsapp-btn" (click)="handleOpenWhatsapp()">WhatsApp</button>
    </div>

    <!-- Título -->
    <h2 class="faq-title">PREGUNTAS FRECUENTES</h2>
    <p class="faq-description">
      En esta sección encontrarás las posibles preguntas y respuestas más comunes.
      Si tienes alguna duda en especial comunícate a nuestra línea de atención WhatsApp.
    </p>

    <!-- Acordeón -->
    <mat-accordion class="faq-accordion">
      <mat-expansion-panel *ngFor="let item of dataPro?.faqs" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.pregunta }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ item.respuesta }}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </section>


  <!-- Paso 2 -->
  <section class="resumen-pedido">
    <h2>PASO 2</h2>
    <p class="subtitulo">
      Este es el resumen de tu pedido de la selección que has realizado.
    </p>

    <!-- Lista de pedidos -->
    <div class="pedido-grid">
      <mat-card class="pedido-card" *ngFor="let item of listDataAggregate; let i = index">
        <!-- Imagen -->
        <img [src]="item.foto" alt="Producto" class="pedido-img" />

        <mat-card-content class="pedido-info">
          <p><strong>Referencia:</strong> {{ item.ref }}</p>
          <!--<p><strong>Color:</strong> {{ item.color }}</p>-->

          <!-- Selector de talla -->
          <mat-form-field appearance="outline" class="pedido-field">
            <mat-label>Talla</mat-label>
            <mat-select [(value)]="item.talla" (selectionChange)="cambiarTalla(i, $event.value)">
              <mat-option *ngFor="let talla of tallasDisponibles" [value]="talla">
                {{ talla }}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <!-- Cantidad -->
          <mat-form-field appearance="outline" class="pedido-field">
            <mat-label>Cantidad</mat-label>
            <input matInput type="number" min="1" [(ngModel)]="item.amountAd" (ngModelChange)="cambiarCantidad(i, $event)" />
          </mat-form-field>
        </mat-card-content>

        <!-- Botón eliminar -->
        <mat-card-actions align="end">
          <button mat-icon-button color="warn" (click)="eliminarItem(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>


    <!-- Botón WhatsApp -->
    <div class="whatsapp-container">
      <button class="whatsapp-btn" (click)="handleOpenWhatsapp()">WhatsApp</button>
    </div>
  </section>

  <section class="paso3">
  <h2>PASO 3</h2>
  <p class="descripcion">
    Para tomar tu pedido es necesario que diligencies cada campo con los datos reales,
    así nosotros lo procesaremos y se despachará correctamente.
  </p>

  <div class="form-container">
    <h3>Tus Datos</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      
      <!-- Nombre -->
      <label>Nombre Completo:</label>
      <input type="text" formControlName="nombre" placeholder="Nombre Completo" />
      <small *ngIf="form.get('nombre')?.touched && form.get('nombre')?.invalid" class="error">
        El nombre es obligatorio.
      </small>

      <!-- Teléfono -->
      <label>Teléfono:</label>
      <div class="telefono-group">
        <select formControlName="ven_indicativo_cliente">
          <option *ngFor="let country of americanCountries" [value]="country.dialCode">
            <img [src]="country.flag" class="flag-icon" width="20" /> +{{ country.dialCode }} - {{ country.name }}
          </option>
        </select>
        <input type="tel" formControlName="numero" placeholder="Número de Teléfono" />
      </div>
      <small *ngIf="form.get('telefono')?.touched && form.get('telefono')?.invalid" class="error">
        Ingresa un número válido.
      </small>

      <!-- Departamento y Ciudad -->
      <label>Departamento y Ciudad:</label>
      <div class="dep-ciudad">
        <select formControlName="departamento" (change)="handleSelectDepartament()">
          <option value="">Departamento</option>
          <option *ngFor="let d of listCiudades" [value]="d.id">{{ d.name }}</option>
        </select>

        <select formControlName="ciudades" (change)="handleProcesFlete()">
          <option value="">Ciudad</option>
          <option *ngFor="let c of listCiudadesRSelect" [value]="c.name" >{{ c.name }}</option>
        </select>
      </div>
      <small *ngIf="(form.get('departamento')?.touched && form.get('departamento')?.invalid) 
                 || (form.get('ciudad')?.touched && form.get('ciudad')?.invalid)" 
             class="error">
        Selecciona un departamento y una ciudad.
      </small>

      <!-- Precio envío -->
      <p class="precio-envio">Precio de Envío: <strong>{{ _ToolServices.monedaChange( 3, 2, ( data.totalFlete || 0 ), code ) }}</strong></p>

      <!-- Dirección -->
      <label>Dirección Exacta:</label>
      <input type="text" formControlName="direccion" placeholder="Dirección Exacta" />
      <small *ngIf="form.get('direccion')?.touched && form.get('direccion')?.invalid" class="error">
        La dirección es obligatoria.
      </small>

      <!-- Barrio -->
      <label>Barrio o Sector:</label>
      <input type="text" formControlName="barrio" placeholder="Barrio o sector" />
      <small *ngIf="form.get('barrio')?.touched && form.get('barrio')?.invalid" class="error">
        El barrio es obligatorio.
      </small>

      <div class="resumen-card">
        <h3 class="titulo">Resumen de mi pedido</h3>
        <div class="fila">
          <span>Cantidad de Pares:</span>
          <span>{{ data.sumAmount }}</span>
        </div>
        <div class="fila">
          <span>Precio x par:</span>
          <span>{{ _ToolServices.monedaChange(3, 2, ( price || 0 ), code) }}</span>
        </div>
        <div class="fila">
          <span>Sub total sin envío:</span>
          <span>{{ _ToolServices.monedaChange(3, 2, ( data.priceTotal || 0 ), code) }}</span>
        </div>
        <div class="fila">
          <span>Precio de Envío:</span>
          <span *ngIf="dataPro?.pagaEnvio ==='cliente'">{{ _ToolServices.monedaChange(3, 2, ( data.totalFlete || 0 ), code) }}</span>
          <span *ngIf="dataPro?.pagaEnvio ==='empresa'">Gratis</span>
        </div>
        <div class="fila total">
          <span>Total:</span>
          <span>{{ _ToolServices.monedaChange(3, 2, ( data.totalAPagar || 0 ), code) }}</span>
        </div>
      </div>


      <section>
        <h2 class="text-dark">PASO 4</h2>
        <p>Despues de haber revisado tu compra y puesto tus datos de envios y verificar que son
        correctos. deberas oprimir el boton de realizar tu pedido para proceder con el proceso de
        envio. selecciona la opción me comprometo recibir mi pedido.</p>
      </section>

      <!-- Confirmación -->
      <div class="checkbox">
        <input type="checkbox" formControlName="datosCorrectos" id="datosCorrectos" />
        <label for="datosCorrectos" class="warning">
          Verifico que mis datos y mi pedido son correctos. Me comprometo a recibir mi pedido.
        </label>
      </div>
      <small *ngIf="form.get('datosCorrectos')?.touched && form.get('datosCorrectos')?.invalid" class="error">
        Debes confirmar que tus datos son correctos.
      </small>

      <!-- Botón -->
      <button type="submit" class="btn-enviar">Realizar Pedido</button>
    </form>
  </div>
</section>

</div>
<div class="pedido-container" *ngIf="view === 'foor'">
 <!-- Vista final -->
    <div class="thanks">
      <div class="text-center">
        <img src="./assets/imagenes/txt1.svg" alt="">
      </div>
      <h1 [ngStyle]="{'color': tiendaInfo['configuracion']?.colorTextoWeb}">Gracias</h1>
      <h6>Hemos recibido tu pedido, pronto un asesor te contactará...</h6>
      <button type="button" class="btn btn-outline-secondary"
              (click)="HandleOpenNewBuy()">
        Realizar otra Compra
      </button>
    </div>
</div>
