.mat-dialog-content {
  max-height: 70vh;
  overflow-y: auto;
}

.img-thumbnail {
  width: 150px;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.full-width {
  width: 100%;
}

.mat-form-field{
  width: 100%;
}