<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-column bd-highlight mb-3">
          <div class="p-2 bd-highlight">
              <h2 style="text-align: center;">
                  Tu pedido esta en proceso en estos momentos lo recibirás entre 4 o 8 dias si se precenta algun inconveniente se notificara por via whatsap. 
                  ¡Recuerda el valor del envio es gratis!
              </h2>
          </div>
      </div>
      <div class="col-12">
        <div class="woocommerce-order">
          <div class="thankyoucustom_wrapper">
            <h3 class="thankyoutitle">Gracias por tu compra, {{ dataUltV.ven_nombre_cliente }}!</h3>
            <p class="subtitle">
              Para una respuesta más rápida, envíe los detalles de su pedido haciendo
              clic en el botón de abajo.
            </p>
            <a
              id="sendbtn"
              (click)="handleWhatsapp(dataUltV)"
              class="pointer"
            >
              Enviar detalles del pedido por Whatsapp
            </a>
          </div>
        
          <ul class="woocommerce-order-overview order_details">
            <li class="order">Número del pedido: <strong>{{ dataUltV.id }}</strong></li>
            <li class="date">Fecha: <strong>{{ dataUltV.ven_fecha_venta }} </strong></li>
            <li class="total">Total: <strong>{{ _tools.monedaChange2( 3,2, ( this.dataUltV.ven_total ) ) }}</strong></li>
            <li class="method">Método de pago: <strong>{{ dataUltV.ven_tipo }}</strong></li>
          </ul>
        
          <span *ngIf="dataUltV.ven_tipo !== 'PAGO ADELANTADO' ">
            <p>💡 Ofrecemos el servicio de pago contra entrega para mayor comodidad de nuestros clientes.</p>
            <p>Recuerda estar disponible en la dirección proporcionada.</p>
          </span>
        
          <section class="woocommerce-customer-details">
            <h2>Dirección de facturación</h2>
            <address>
              {{ dataUltV.ven_nombre_cliente }}<br />
              {{ dataUltV.ven_direccion_cliente }} - {{ dataUltV.ven_barrio }}<br />
              {{ dataUltV.ven_ciudad }}<br />
              <p>{{ dataUltV.ven_telefono_cliente }}</p>
            </address>
          </section>
        </div>          
      </div>
      
  </div>
</div>