<h2 mat-dialog-title style="text-align: center;">
    SELECCIÓNE UNA TALLA
</h2>

<mat-dialog-content class="mat-typography">
    <div class="row" style="display: flex; flex-direction: column; align-items: center;">
        <div class="col-12" style="text-align: center; margin-bottom: 20px;">
            <img [src]="data.foto" style="width: 100%; height: auto; max-height: 300px; border-radius: 30px;">
        </div>
        
        <!-- Talla Única -->
            <div class="form-group" style="text-align: center; margin-bottom: 20px;" *ngIf="datas.pro_sw_tallas === 5">
                <a class="mouse tEstile colorFondo">
                Talla Única
                </a>
            </div>
            
            <!-- Tallas normales -->
            <div class="form-group" style="text-align: center; margin-bottom: 20px;" *ngIf="datas.pro_sw_tallas !== 5">
                <a class="mouse tEstile" *ngFor="let t of [35,36,37,38,39,40,41,42,43]"
                [ngClass]="{'colorFondo': data.talla === t}"
                (click)="handleSelectT(t)">
                {{ t }}
                </a>
            </div>
  
        <mat-form-field class="example-full-width" style="width: 80%; text-align: center;">
            <mat-label>Cantidad</mat-label>
            <input matInput type="number" [(ngModel)]="data.cantidad" class="form-control" placeholder="Cantidad a adquirir">
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close mat-raised-button color="warn">Cerrar</button>
    <button mat-button cdkFocusInitial mat-raised-button color="primary" (click)="finalizando()">
        <span>Agregar</span>
    </button>
</mat-dialog-actions>
